@using System.Security.Principal
@using TableFinder.Models
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TableFinder</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/jquery.fileupload.css" rel="stylesheet" />
    <style>
        body {
            background-image: url('../../Images/Nature-Vintage-City-Wallpaper.jpg');
        }
    </style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                 </a>
                @Html.ActionLink("TableFinder", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    @if (User.GetType() == typeof(GenericPrincipal) || HttpContext.Current.User == null)
                    {
                        <li>@Html.ActionLink("Cadastro", "Index", "Cadastro")</li>
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (User.GetType() == typeof(GenericPrincipal) || HttpContext.Current.User == null)
                    {
                        <li>@Html.ActionLink("Login", "Index", "Login")</li>
                    }
                    @if (User.GetType() != typeof(GenericPrincipal) && ((Cadastro)HttpContext.Current.User) != null)
                    {
                        if (((Cadastro)HttpContext.Current.User).Administrador)
                        {
                            <li>@Html.ActionLink("Aprovações", "Index", "Aprovacao")</li>
                        }
                        <li>@Html.ActionLink("Cadastre seu Estabelecimento", "Index", "CadEstab")</li>
                        <li>@Html.ActionLink("Sair", "LogOff", "Login")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Table Finder</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="@Url.Content("~/Scripts/meiomask.js")"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
