@using TableFinder.Models
@model List<Estabelecimento>
<div class="row">
    <div class="col-md-12">
        <a href="@Url.Action("Index","CadEstab")" class="btn btn-default">Cadastrar</a>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Descrição</th>
                    <th>Preço</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Estabelecimento item in Model)
                {
                    <tr>
                        <td>@item.Nome  </td>
                        <td>@item.Descricao</td>
                        <td>
                            <a href="@Url.Action("Editar","CadEstab", new { @Id=item.Id})">Editar</a>
                            <a href="@Url.Action("Excluir", "CadEstab", new { @id = item.Id })" onclick="if(!confirm('Deseja excluir POR COMPLETO este estabelecimento?')) return false;">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>