@using TableFinder.Models
@model Cadastro
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form action="@Url.Action("Entrar", "Login")" class="form-horizontal">
            <div class="form-group">
                <div class="col-md-12 text-center">
                    <h3>Login</h3>
                    <hr />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(m => m.Login, "Login:", new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Login, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(m => m.Senha, "Senha:", new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Senha, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                </div>
            </div>
        </form>
    </div>
</div>
