@using TableFinder.Models
@model Cadastro
<div class="row">
    <div class="col-md-12">
        <h3>Cadastro de Usuário</h3>
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <form action="@Url.Action("Salvar", "Usuario")" class="form-horizontal">
            <div class="form-group">
                <div class="col-md-12">
                    @Html.LabelFor(m => m.Nome, "Nome:", new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Nome, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-8">
                    @Html.LabelFor(m => m.Senha, "Senha:", new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Senha, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.NomeCompleto, "NomeCompleto:", new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.NomeCompleto, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.CPF, "CPF:", new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.CPF, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-4">
                    @Html.LabelFor(m => m.Email, "Email:", new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12 text-right">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <button type="button" class="btn btn-default">Cancelar</button>
                    <button type="button" class="btn btn-primary">Limpar</button>
                </div>
            </div>
        </form>
    </div>
</div>
